:root {
    /* distance by which content will move */
    --position-x: 0; 
    --position-y: 0;
}

.page-1-color {
    background-color: cadetblue;
}
.page-2-color {
    background-color: brown;
}
.page-3-color {
    background-color: lightcoral;
}
.page-4-color {
    background-color: slategray;
}

body {
    transition: 5s;
    overflow: hidden;
}
.easy-nav {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: white;
    z-index: -1;
}
.menu-item {
    max-height: 50vh;
    min-height: 50vh;
    min-width: 50vw;
    max-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-item:hover > div {
    transform: scale(1.5);
    transition: 0.2s;
}
.custom-row {
    display: inline-flex;
}
.logo {
    height: 20px;
}
.page {
    /* display: none; */
    width: 100vw;
}
.page-1-title {
    display: none;
}
.page1-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}
.page2-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}
.page3-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}
.page4-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 5%;
    padding: 12px;
}
.footer {
    height: 8em;
}
.content {
}
.nav-block {
    min-width: 8vw;
    min-height: 16vh;
}
.vertical-title {
    max-width: 4vw;
    min-width: 4vw;
    text-align: center;
    font-weight: 600;
}
.content-body {
    display: flex;
}
.content-title {
}
.content-description {

}
.content-body-wrapper {
   padding: 0 5em; 
}
.white-font {
    color: white;
}
.hover-zoom {
    opacity: 0.8;
    cursor: pointer;
}
.hover-zoom:hover {
    opacity: 1;
    transform: scale(1.5);
    transition: 0.2s;
}
.flex-vertical-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
