:root {
    /* distance by which content will move */
    --position-x: 0; 
    --position-y: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: cadetblue;
}
.header {
    height: 5%;
    padding: 12px;
}
.footer {
    height: 5%;
}
.content {
    display: flex;
    justify-content: space-between;
}
.content-body {
    display: flex;
}
.content-body-child {
    transition: 12s;
}
.content-body-wrapper:hover > div {
    transform: unset !important;
    transition: 2s !important; 
}
.white-font {
    color: white;
}
.hover-zoom {
    opacity: 0.8;
    cursor: pointer;
}
.hover-zoom:hover {
    opacity: 1;
    transform: scale(1.5);
    transition: 0.2s;
}
.flex-vertical-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}